.home-section{
  margin-top: -40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  letter-spacing: 1px;
  height: 100vh;
}

#h1-home{
  font-size: 23px;
}

.div-home-title :is(h2,span){
  font-weight: normal;
}

.img-home{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

#div-imgprofile{
  display: flex;
  justify-content: center;
}

.description{
  text-align: center;
  margin: 20px 20px;
  line-height: 1.6;
  color: white;
}

#h2-home{
  margin-top: 15px;
  text-align: center;
}

#curriculum{
  padding: 10px;
  margin-top: 20px;
  background-color: #f0932b;
  border-radius: 12px;
}

.container {
  height: 50px;
  margin-top: 13px;
}

.chevron {
  width: 20px;
  height: 3px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@media only screen and (min-width : 360px)
and (min-height : 700px) {
  .img-home{
    width: 250px;
    height: 250px;
  }
  .home-section{
    justify-content: space-evenly;
  }
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .home-section{
    margin: 0;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px)
{
  .img-home {
    width: 50%;
    height: 100%;
  }
  #h1-home {
    font-size: 35px;
  }
  #curriculum{
    padding: 20px;
  }
  .chevron {
    width: 50px;
    height: 8px;
  }
  .container {
    margin-top: 53px;
  }
  .description {
    margin: 40px 20px;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .home-section{
    height: auto;
  }
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
